  {% if page.link %}
  <article class="link">
  <h1><a href="{{ page.link }}">{{ page.title }} {{ site.linked_list.link }}</a></h1>
  {% else %}
  <article class="post">
  <h1 class="emphnext"><a href="{{ BASE_PATH }}{{ page.url }}">{{ page.title }}</a></h1>
  {% endif %}

  {{ content }}

  {% if page.link %}
  <a href="{{ BASE_PATH }}{{ page.url }}" rel="bookmark" title="Permanent link to {{ page.title }}">{{ site.linked_list.post }}</a>
  {% endif %}

  <address class="signature">
    <a class="author" href="{{ HOME_PATH }}">{{ site.author.name }}</a> 
    <span class="date">{{ page.date | date_to_long_string }}</span>
    <span class="location">{{ page.location }}</span>
  </address>
  
  <div class="prev-next">
  {% if page.next %}
    <a href="{{ BASE_PATH }}{{ page.next.url }}" class="prev" title="{{ page.next.title }}">&larr;  Previous Post</a>
  {% endif %}
  {% if page.previous %}
    <a href="{{ BASE_PATH }}{{ page.previous.url }}" class="next" title="{{ page.previous.title }}">Next Post &rarr;</a>
  {% endif %}
  </div>

</article>
