---
---

%header.text-center
  %h1
    %a{:href=>'/', :title=>site.title}= site.title
    %br
    %small
      %a{:href=>'/weblog', :class=>("current" if page.current == 0)} Weblog
      &middot;
      %a{:href=>'/about', :class=>("current" if page.current == 1)} About
