---
---

.col-xs-6.col-md-4.col-lg-3
  %figure
    %a{:href => "#{ site.img_base_url }images/#{page.image.base}-1800w.jpg", "data-lightbox" => "photos", :title => page.image.title}
      %img{ :src => "#{ site.img_base_url }images/#{page.image.base}-thumb.png", :alt =>page.image.title }