/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
        margin-bottom: 1em;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

i, cite, em, var, address {
font-style: italic;
}

/* end of reset */

/* @override http://mark.reid.dev/files/css/screen.css */

/* @override 
	http://mark.reid.dev/files/css/screen.css
	http://mark.reid.name/files/css/screen.css
*/

/* screen.css
 *
 * A clean, simple stylesheet that aims for
 * a consistent vertical rhythm.
 *
 * Base font height: 16px
 * Base line length: 24px
 * 
 * AUTHOR: Mark Reid <mark@reid.name>
 */

body {
	font-family:  'Cantarell', sans-serif;
	background-color: whitesmoke;
	background-position: center -18em;
	background-repeat: repeat-x; 
	margin: 1.5em auto 3em auto;
	line-height:1.5em;
}

/* Hack via Joel Spolsky to make image rescaling nicer in IE */
img { -ms-interpolation-mode:bicubic; }

/* IE6 ignores this and uses default size of 16pt */
html>body { font-size:16px; }
p { margin: 0 0 1.5em 0; text-align: justify; }

a { text-decoration: none; color: #59708C; }
a:hover { text-decoration: underline; color: #59708C; }

h1,h2,h3,h4 { 
	line-height:1em; 
	font-size:1.5em; 
	font-weight: normal; 
	clear: left; 	
	font-family: 'lucida grande', sans-serif; 
}
h1 { margin-bottom: 1em; }
h2 {
	font-size: 100%;
	line-height: 1.5em;
	margin:1.5em 0 1.5em 0;
	font-weight:bold;
}

hr { 
	border-top: 1px solid silver;
	border-bottom: none;
	padding: 0;
	margin: 1.46em 0 0 0;
}

sup { line-height: 1ex; }

#page {
	max-width: 900px;
	/*min-height: 600px;*/
	margin-left: auto;
	margin-right: auto;
	padding-left: 30px;
	padding-right: 30px;
	padding-top: 15px;

	background-color: white;
	border: 1px solid #ccc;
	box-shadow: 2px 2px 8px #aaa;
	-webkit-box-shadow: 2px 2px 8px #aaa;
	-moz-box-shadow: 2px 2px 8px #aaa;	
}

.right { float: right; clear: left; }
.left { float: left; clear: right; }
.inset { 
	border: 1px solid silver; 
	padding: 2px;
	margin: 0em 0.8em 0.8em 0.8em;
}
.right.inset { margin-right: 0 !important; }
.left.inset { margin-left: 0 !important; }
.quiet {
	color: grey;
	font-size: 0.875em;
	line-height: 1.714em;
}
blockquote {
	padding: 0 2.8em;
	margin: 1.714em 0;
	color: #444;
	font-size: 0.875em;
	line-height: 1.714em;
	border-left: 4px solid #EEE;
	color: #777;
}

.note {
	padding-top: 0.5em; 
	background-color: #fafaff;
	border-top: 1px solid silver;
	border-bottom: 1px solid silver;
}
/* @group Table */
table.neat {
	width: 80%;
	margin: 1.5em auto 1.5em auto;
	table-layout: fixed;
	border-spacing: 0;
}
table.neat tr { text-align: center; }
table.neat th { font-weight: normal; background-color: #eeeeee; }
table.neat td { background-color: white; }
table.neat th.title { border-bottom: 1px solid gray; border-top: 1px solid gray; vertical-align: bottom; background-color: lightgrey; }
caption { 
	color: #333;
	font-size: 0.875em;
	margin: 0.875em auto 0 auto;
	line-height: 1.14em;
	text-align: justify;
}

/* @end */

/* @group Lists */
ul {
	margin-top: 1.5em;
	margin-bottom: 1.5em;
	line-height: 1.5em;
	padding-left: 1.5em;
}
ul li {
	list-style-type: square;
	list-style-position: outside;
}
ol li {
	list-style-type: decimal;
	list-style-position: inside;
}
dt { font-weight: bold;}
dd { margin: 0 0 1.5em 0; text-align: justify; }

ul.compact { margin: 0; padding: 0;}
ul.compact li { list-style: ;
	list-style-type: square;
	list-style-position: inside;
}
ul.compact li span.date {	
	display: none;
	color: grey;
	width: 20%;
}
ul.compact li a {
	width: 70%;
}
/* @end */

/* @group Header */
header, footer {
	max-width: 960px;
	margin-left: auto;
	margin-right: auto;
}

header, header a { color: silver; }
header .hover { color: transparent; }
header:hover a { color: #59708C; text-shadow: #aaa 2px 2px 3px;}
header:hover a:hover { text-decoration: none; }
header a:hover .hover { color: #59708C; }
header {
	position: relative;
	font-variant: small-caps;
	line-height: 1em;
	margin-top: 1em;
	margin-bottom: 0.5em;
}
header h1 {
	font-family: Palatino, georgia, "times new roman", serif;
	margin-bottom: 0;
	line-height: 0.9em;
	display: block;
	font-weight: normal;
}

header ul {
	position: absolute;
	top: 0;
	right: 0;
	font-size: 100%;
	line-height: 1.6em;
	display: block;
	margin: 0;
	width: 50%;
	text-align: right;
}
header ul li { display: inline; }
header ul li a {
	padding: 0.4em 0.3em 0 0.3em;
	display: inline;
}
header ul li a:hover {
	color: #59708C;
	border-bottom: 2px solid #59708C;
}

/* @end */

.list .title { font-weight: bold; }
p.line { position: relative; margin: 0; }
p.excerpt { margin: 0; }
.comments { font-size: smaller; position: absolute; color: silver; right: 0; top: 0; }
.excerpt { color: black; }

/* @group Signature */
.signature { 
	margin-top: 3em; 
	position: relative;
}
.signature .author { 
	font-variant: small-caps; 
	font-style: normal; 
	color: black;
	display: block;
	margin-bottom: 1.5em;
}
.signature .date { 
	font-size: 87.5%;
	line-height: 1.5em;
	display: block; 
	font-variant: small-caps; 
	font-style: normal; 
	position: absolute;
	right: 0;
	top: 0;
}
.signature .location { 
	display: block; 
	font-size: 87.5%;
	line-height: 1.5em;
	position: absolute;
	right: 0;
	top: 1.5em;
}
/* @end */

/* @group Code */
pre {
	margin: 1em 0 1.5em 0;
	font-size: 0.75em; /* Hack to make code look same size as body font */  
	line-height: 1.5em;	
	border: 1px solid #ddc;
	padding: 0.5em 1em;
	overflow: hidden;

	/* Experimental CSS3 stuff */
	box-shadow: 1px 1px 6px #ccc;
	-webkit-box-shadow: 1px 1px 6px #ccc;
	-moz-box-shadow: 1px 1px 6px #ccc;
}
pre:hover {
	border-right: none;
	overflow: visible;
}
code {
	font-size: 1em;
	background-color: #f7f7ff;
	line-height: 1.4em;
}
pre > code {
	background-color: transparent;
}
/* @end */



/* The following position, width and height ensure
 * that none of the body in the iframe shows through.
 */
form#comment {
	position: absolute;
	height: 100%;
	width: 100%;
	background-color: white !important;
}
/* @end */

/* @group Footer */
footer {
	margin-top: 0;
	color: grey;
	font-size: 87.5%;
	line-height: 1.3em;
}
footer address {
	position: relative;
	margin: .5em 0 0 0;
	text-align: right;
}
footer a {
	font-variant: small-caps;
	font-style: normal;
	color: silver;
	text-decoration: none;
}
footer .copyright {
	position: absolute;
	left: 0;
	text-align: left;
	display: block;
}
footer .engine {
	position: absolute;
	text-align: right;
	display: block;
	right: 0;
}
/* @end */


/* @group Figures and images */
dl.figure {
	margin-top: 1.5em;
	margin-bottom: 1.5em;
	text-align: center;
}

dl.figure dd {
	color: #333;
	font-size: 0.875em;
	margin: 0.875em auto 0 auto;
	line-height: 1.14em;
	text-align: justify;
	width: 85%;
}
/* @end */


/* @group Figures and images */
figure {
display: block;
position: relative;
margin-left: -60px;
margin-right: -60px;
}

figure img {
display: block;
margin: 1em auto;
}

figcaption {
display: block;
clear: left;
margin: 0 0 0.75em;
text-align: center;
font-style: italic;
line-height: 1.5em;
}
/* @end */

/* .prev-next */
.prev-next {
	position:relative;
}
.prev-next .next{ 
	float:right;
}

article {
   margin-left: 60px;
   margin-right: 60px;
}

article h1 {
	font-variant: small-caps;
}

/* @group link article */
article.link h1 {
	font-family: Palatino, georgia, serif;
	font-size: 87.5%;
	line-height: 1.43em;
	font-weight: bold;
}
article.link h1 a, a.link {
	color: firebrick;
}
article.link h1 a:hover, a.link:hover {
  color: #e97d0c; 
}
/* @end */

/* @group post article */
article.post h1 a:hover {
	text-decoration: none;
}
/* @end */


.alignleft {display:inline; float:left; margin:0 1em 1em 0;}
.alignright {display:inline; float:right; margin:0 0 1em 1em;}
.aligncenter {display:block; margin:1em auto;}

p.previous, p.next {
    text-align: center;
	padding-top: 1em;
	padding-bottom: .5em;
}


article h1 a.plink {
    text-decoration: none;
    color: #fff; /* the page background colour */
}
article h1:hover a.plink, a:hover.plink {
    color: #c8a8ff;
}
