---
layout: page
title: Weblog
notitle: true
current: 0
---

- if page.posts.previous_page
  %ul.pager
    %li
      %a{ :href=>page.posts.previous_page.url} &larr; Newer posts

- page.posts.each do |post|
  = partial('post.html.haml', :parent => page, :post => post)

- if page.posts.next_page
  %ul.pager
    %li
      %a{ :href=>page.posts.next_page.url} Older posts &rarr;