body {
    font-family: Cantarell,"Helvetica Neue",sans-serif;
    font-size: 16px;
    line-height: 1.428571429;
    color: #444444;
    background-color: whiteSmoke;
}

h1,
h2,
h3,
h4,
h5,
h6,
.h1,
.h2,
.h3,
.h4,
.h5,
.h6 {
    font-family: Cantarell, sans-serif;
    font-weight: 500;
    line-height: 1.1;
}

.text-primary {
  color: #59708c;
}

a {
  color: #59708c;
  text-decoration: none;
}

a:hover,
a:focus {
  color: #3b4b5d;
  text-decoration: underline;
}


figure {
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 1.5em;
  font-size: 0.8em;
  color: silver;
  max-width: 900px;
}

figure.portrait{
  max-width: 596px;
}

figure img {
  margin-left: auto;
  margin-right: auto;
  width: 100%;
}

figure .metadata {
  text-align:right;
}

figure .metadata .aperture,
figure .metadata .speed,
figure .metadata .iso,
figure .metadata .focal-length {
  padding: 1px 3px;
  border: 1px solid #ddc;
  border-radius: 3px;
  margin-left: 3px;
}

figcaption {
  text-align: right;
  display: block;
  margin-bottom: 0.5em;
}

video {
  max-width: 100%;
}

.video-wrapper {
  max-width: 100%;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 1.5em;
}

.video {
	position: relative;
	padding-bottom: 56.25%;
	padding-top: 30px;
	height: 0;
	overflow: hidden;
}
.video iframe,
.video object,
.video embed {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
}

.date {
  color: silver;
  font-size: 87.5%;
  font-variant: small-caps;
  margin-bottom: 1.5em;
}

li .date {
  display: inline;
}

article .date {
  text-align: center;
}


article h1 {
  font-size: 1.5em;
  margin-bottom: 0;
}

h1, h2, h3{
  font-variant: small-caps;
}

h1 a {
  text-decoration: none;
}

a.link {
  color: #8c7559;
}

a.plink {
  text-decoration: none;
  color: silver;
}

header, footer {
  color: silver;
}

header h1 {
  font-size: 2em;
  margin-bottom: 0;
}

header a, footer a {
  font-variant: small-caps;
  color: silver;
  text-decoration: none;
}

header ul::after {
  content: "|";
}

header li::before {
  content: "|";
}

footer {
  margin-bottom: 1.5em;
  font-variant: small-caps;
}

pre {
  padding: 0;
}

blockquote p {
  font-size: 1em;
  color: #777;
}
