---
layout: nil
title : Atom Feed
---
<?xml version="1.0" encoding="utf-8"?>
<feed xmlns="http://www.w3.org/2005/Atom">
 
 <title>{{ site.title }}</title>
 <link href="{{ site.production_url }}/atom.xml" rel="self"/>
 <link href="{{ site.production_url }}"/>
 <updated>{{ site.time | date_to_xmlschema }}</updated>
 <id>{{ site.production_url }}</id>
 <author>
   <name>{{ site.author.name }}</name>
   <email>{{ site.author.email }}</email>
 </author>

 {% for post in site.posts limit:50 %}
 <entry>
	 
  {% if post.link %}
  <title type="html">{{ post.title }} {{ site.linked_list.link }}</title>
   <link href="{{ post.link }}"/>
  {% else %}
  <title type="html">{{ site.linked_list.post }} {{ post.title }}</title>
   <link href="{{ site.production_url }}{{ post.url }}"/>
  {% endif %}

   <updated>{{ post.date | date_to_xmlschema }}</updated>
   <published>{{ post.date | date_to_xmlschema }}</published>
   <id>{{ site.production_url }}{{ post.id }}</id>
   <content type="html">{{ post.content | xml_escape }} 

   {% if post.link %}
   &lt;p&gt;&lt;a href="{{ site.production_url }}{{ post.url }}" title="Permanent link to {{ post.title }}"&gt;{{ site.linked_list.post }}&lt;/a&gt;&lt;/p&gt;
   {% endif %}

   </content>
 </entry>
 {% endfor %}
 
</feed>
